body { background: #75aa4f; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 39px; display: flex; }
.block-email-0 { color: #17d962; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #398b6d; font-size: 20px; margin-bottom: 5px; }
.block-router-2 { color: #7cb0ff; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #466dad; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #60602c; font-size: 18px; margin-bottom: 5px; }
.block-email-5 { color: #febcb0; font-size: 21px; margin-bottom: 5px; }
.block-sms-6 { color: #af221c; font-size: 21px; margin-bottom: 5px; }
.block-email-7 { color: #29decc; font-size: 18px; margin-bottom: 5px; }